body{
    background-image: url("img/ffinal.png");
    background-color: #00AD9C;
    background-size: cover;
  background-size: 80rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.monkey {
  background-image: url("img/B4.png");
  width: 550px;
  height: 550px;
  background-size: contain;
  position: relative;
left: 880px;
top: 90px;
  background-repeat: no-repeat;
  animation: jump 1s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-20px) rotate(0);
  }
  50% {
    transform: translateY(0) rotate(0);
  }
  75% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}